= wrap_layout :default do
  %aside.pos-fix.w100p.m300.hfull.fill-white.p-t-large.b-r.fill-athens-gray.p-l-xlarge
    %h3
      DocSearch
    %ul.list-none.no-margin.no-padding
      %li
        %a{href:"#{app_data.config.baseurl}/documentation#introduction​"}
          Introduction
    %h3
      Scraper
    %ul.list-none.no-margin.no-padding
      %li
        %a{href:"#{app_data.config.baseurl}/documentation#introduction​"}
          Overview
      %li
        %a{href:"#{app_data.config.baseurl}/documentation#introduction​"}
          Parameters

    %h3
      Scraper
    %ul.list-none.no-margin.no-padding
      %li
        %a{href:"#{app_data.config.baseurl}/documentation#introduction​"}
          Docsearch Autocomplete

  .container.main-content.w100p{class: "#{current_page.data.className}"}
    %header.page-header.m1200.m-l-r-auto
      %h1.page-title
        = current_page.data.title
    %article.page-content.m1200.m-l-r-auto
      = yield
    .spacer80
